<div class="about-container">
  <div class="text-content">
    <h2 class="wrap main-page-color animated-text slide-in-right">{{ description }}</h2>
    <h2 class="wrap main-page-color animated-text slide-in-right">{{ contactDetails }}</h2>
  </div>
  <div class="image-wrapper">
    <div class="image-frame">
      <img id="photo-4" class="photo-resize" src="/images/photo-gallery-4.jpg" alt="photo-4">
    </div>
    <img class="arrow" id="photo-3" src="/images/arrow.png" alt="arrow">
  </div>
</div>
