.message-form {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background-color: #f4e1c1;
  border-radius: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 1s ease-in;
}

mat-label {
  font-weight: bold;
  color: #e63807;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

input, textarea {
  background-color: #fff8f2;
  border: 1px solid #f16d49;
  color: #333;
}

button[type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 25px;
  background-color: #f16d49;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

button[type="submit"]:hover {
  background-color: #d9534f;
}

button[type="submit"]:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}

button[type="submit"] mat-icon {
  margin-left: 10px;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

button[type="submit"]:not([disabled]) mat-icon {
  visibility: visible;
}

textarea {
  resize: none;
}

mat-error {
  color: #f44336;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #e63807;
  font-weight: bold;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.arrow {
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  transform: translateY(-60px) translateX(100px) rotate(115deg);
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.arrow-2 {
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  right: 0;
  transform: translateY(-60px) translateX(-100px) rotate(-115deg) scaleX(-1);
}

button[type="submit"] {
  display: block;
  margin: 20px auto;
}

.success-message {
  text-align: center;
  background-color: #f4e1c1;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
}

.success-message h2 {
  color: #e63807;
  font-size: 28px;
  font-weight: bold;
}

.success-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: 200px;
}

.form-container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.arrow-bottom {
  position: absolute;
  bottom: 40px; 
  left: 20px; 
  width: 80px;
  transform: rotate(100deg);
  opacity: 0;
  animation: fadeInArrow 1.5s forwards;
}

@media (min-width: 768px) {
  .arrow-bottom {
    width: 160px;
    left: 380px;
  }
}

@media (min-width: 1024px) {
  .arrow-bottom {
    width: 180px;
    left: 360px;
  }
}

@media (min-width: 1440px) {
  .arrow-bottom {
    width: 180px;
    left: 380px;
  }
}

@media (min-width: 1600px) {
  .arrow-bottom {
    width: 180px;
    left: 400px;
  }
}

@media (max-width: 767px) {
  .arrow-bottom {
    display: none;
  }
}

@keyframes fadeInArrow {
  from {
    opacity: 0;
    transform: translateY(20px) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
}