<div class="form-container">
  <h1 class="main-page-color animated-text"
    [ngStyle]="{'color': '#e63807', 'font-size': '40px', 'text-shadow': '2px 2px 5px rgba(0, 0, 0, 0.3)', 'font-weight': 'bold'}">
    {{ contactUs }}
  </h1>
  <form *ngIf="!isSubmitted" [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="message-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Imię</mat-label>
      <input matInput id="name" formControlName="name" />
      <mat-error *ngIf="messageForm.get('name')?.invalid">Imię jest wymagane</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Numer telefonu</mat-label>
      <input matInput id="phoneNumber" formControlName="phoneNumber" />
      <mat-error *ngIf="messageForm.get('phoneNumber')?.invalid">Numer telefonu jest wymagany</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" formControlName="email" />
      <mat-error *ngIf="messageForm.get('email')?.hasError('required')">Email jest wymagany</mat-error>
      <mat-error *ngIf="messageForm.get('email')?.hasError('email')">Niewłaściwy format email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Twoja wiadomość</mat-label>
      <textarea matInput id="message" formControlName="message"></textarea>
      <mat-error *ngIf="messageForm.get('message')?.invalid">Conajmniej 5 znaków</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="messageForm.invalid || isSubmitting">
      <span *ngIf="!isSubmitting">Wyślij</span>
      <span *ngIf="isSubmitting">Wysyłanie...</span>
    </button>
  </form>

  <img src="/images/arrow.png" alt="Arrow Icon" class="arrow-bottom">

  <div *ngIf="isSubmitted" class="success-message">
    <h2>Wiadomość została wysłana! Skontaktujemy się z tobą w jak najkrótszym czasie.</h2>
    <img src="/images/success-icon.png" alt="Success Image" class="success-image" />
  </div>
</div>