<section id="cennik" class="my-5">
  <h2 class="font-family-2">Cennik</h2>
  <mat-table [dataSource]="pricingData">
    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef> Usługa </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.service}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Cena </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
