<video autoplay loop muted id="background-video">
  <source src="/videos/background-video.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<header class="header">
  <h1 class="title"><mat-icon>house</mat-icon>HOUSE FORGE</h1>
  <app-navbar class="navbar"></app-navbar>
</header>

<main>
  <section class="welcome-section">
    <h2 class="main-page-color animated-text slide-in-left">Budujemy domy</h2>
    <h2 class="main-page-color animated-text slide-in-right">dla naszych klientów</h2>
    <h2 class="main-page-color animated-text slide-in-left">na terenie całego</h2>
    <h1 class="animated-text slide-in-right highlighted-word">TRÓJMIASTA</h1>
  </section>
</main>

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 HouseForge. Wszystkie prawa zastrzeżone.</p>
  </div>
</footer>
