* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  padding: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

section {
  padding: 60px 0;
}

.about-section {
  background-color: #f9f9f9;
  text-align: center;
}

.about-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.pricing-section,
.contact-section {
  background-color: #fff;
  text-align: center;
}

.pricing-section h2,
.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer {
  background-color: transparent;
  padding: 20px 0;
  box-shadow: none;
  margin-top: 50px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.footer-link {
  color: #e63807;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin-bottom: 20px;
}

@media(max-width: 700px){
  .footer-link{
    font-size:22px;
  }
}

@media(max-width: 550px){
  .footer-link{
    font-size:18px;
  }
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-phone,
.footer-email {
  color: #e63807;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}

.contact-form-section form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form-section input,
.contact-form-section textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form-section button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form-section button:hover {
  background-color: #4cae4c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  animation: fadeIn 0.5s ease-in-out;
}

.header,
.footer {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  background-color: transparent;
  box-shadow: none;
  align-items: center;
}

.logo img {
  height: 300px;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  filter: blur(3px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0px;
  background: linear-gradient(to right, #f6967b, #cf4949);
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 2s ease-in-out;
}

.title mat-icon {
  padding-right: 71px;
  padding-bottom: 66px;
  margin-left: 6px;
  font-size: 66px;
  background: linear-gradient(to right, #f6a28a, #ef4f26);
  -webkit-background-clip: text;
}

.welcome-section {
  text-align: center;
  margin-top: 20px;
}

.animated-text {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  opacity: 0;
  margin: 10px 0;
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  transform: translateX(100%);
  animation: slideInFromRight 1s ease-out forwards;
}

.slide-in-left-2 {
  transform: translateX(-100%);
  animation: slideInFromLeft-2 1s ease-out forwards;
}

.slide-in-right-2 {
  transform: translateX(100%);
  animation: slideInFromRight-2 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation-delay: 0s;
}

.slide-in-right {
  animation-delay: 1s;
}

.slide-in-left:nth-of-type(3) {
  animation-delay: 2.0s;
}

@keyframes text-color-shift {
  0% {
    color: #f6a28a;
  }

  25% {
    color: #ff6347;
  }

  50% {
    color: #ff8c00;
  }

  75% {
    color: #e74c3c;
  }

  100% {
    color: #f6a28a;
  }
}


@keyframes slideInFromLeft-2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight-2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.highlighted-word {
  font-size: 4.0rem;
  font-weight: bold;
  font-family: 'sans-serif', "Roboto";
  background: linear-gradient(to right, #f6a28a, #ef4f26);
  -webkit-background-clip: text;
  color: transparent;
  animation: slideInFromRight 1s ease-out forwards, text-color-shift 6s ease-in-out infinite;
  animation-delay: 3s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.welcome-section h2:last-child {
  margin-bottom: 20px;
}

.main-page-color {
  color: #f16d49;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1.animated-text {
  line-height: 1.5;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
  display: flex;
}

@media (max-width: 768px) {
  .title a {
    display: flex;
    align-items: center;
  }

  .title a span {
    display: none;
  }
}

@media(max-width: 560px) {
  .title {
    display: none;
  }
}
