.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.service-content {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.service-content.left {
  flex-direction: row;
}

.service-content.right {
  flex-direction: row-reverse;
}

.service-text {
  width: 50%;
  text-align: left;
}

.service-title {
  font-size: 24px;
  color: #ac2a07;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  line-height: 1.6;
}

.service-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.styled-image {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.styled-image:hover {
  transform: scale(1.05);
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  transform: translateX(100%);
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
