<div class="main-container">
  <h1 class="main-page-color animated-text"
      [ngStyle]="{'color': '#e63807', 'font-size': '40px', 'text-shadow': '2px 2px 5px rgba(0, 0, 0, 0.3)', 'font-weight': 'bold'}">
    {{ ourServices }}
  </h1>
  <div *ngFor="let service of servicesList; let i = index" class="service-item"
       [ngClass]="{
         'slide-in-left': i % 2 === 0,
         'slide-in-right': i % 2 !== 0
       }">
    <div class="service-content"
         [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
      <div class="service-text">
        <h2 class="service-title">{{ service.title }}</h2>
        <p class="service-description">{{ service.description }}</p>
      </div>
      <div class="service-image">
        <img [src]="service.image" alt="service-image" class="styled-image"/>
      </div>
    </div>
  </div>
</div>
