<section id="onas" class="my-5">
  <h2 class="font-family-2">O nas</h2>
  <mat-card class="service-card">
    <mat-card-content>
      <p>
        Nasza firma działa na rynku od ponad 10 lat. Zapewniamy najwyższą jakość piasku i profesjonalną obsługę transportową na terenie trójmiasta.
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section id="services" class="my-5">
  <h2 class="font-family-2">Usługi</h2>
  <div class="service-grid">
    <mat-card class="service-card">
      <img mat-card-image src="/images/piasek.jpeg" alt="Usługa 3">
      <mat-card-content>
        <p>PIASEK PRZESIEWANY</p>
        <p>To wysokiej jakości materiał budowlany, idealny do prac murarskich i tynkarskich. Doskonały również do piaskownic.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="service-card">
      <img mat-card-image src="/images/czarnoziem.webp" alt="Usługa 2">
      <mat-card-content>
        <p>CZARNOZIEM</p>
        <p>Jest to żyzna gleba o wysokiej zawartości próchnicy, idealna do poprawy jakości gleby w ogródkach i na terenach rolniczych.</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>


